<h1>Stars Wars Character Information</h1>

Name: <%= @facade.name %>
<ul>
  <li>Height: <%= @facade.height %></li>
  <li>Mass: <%= @facade.mass %></li>
  <li>Birth Year: <%= @facade.birth_year %></li>
  <li>Gender: <%= @facade.gender %></li>
</ul>
